.text-blue-dark {
    color: $color-blue-dark !important;
}
.text-blue-light {
    color: $color-blue-light !important;
}
.text-gray {
    color: $color-gray !important;
}
.text-white-dark {
    color: $color-white-dark !important;
}



.bg-blue-dark {
    background-color: $color-blue-dark !important;
}
.bg-blue-light {
    background-color: $color-blue-light !important;
}
.bg-gray {
    background-color: $color-gray !important;
}
.bg-white-dark {
    background-color: $color-white-dark !important;
}