.fs-58 {
    font-size: 38px !important;
}

@media screen and (min-width: 576px) {
    .fs-58 {
        font-size: 48px !important;
    }
}

@media screen and (min-width: 768px) {
    .fs-58 {
        font-size: 58px !important;
    }
}