.ms-115 {
    margin-left: 0;
}
.py-20 {
    padding: 1.25rem 0;
}
.ps-20 {
    padding-left: 20px;
}
.pe-137 {
    padding-right: 137px;
}
.my-4-5 {
    margin: 1.5rem 0;
}
.mb-20 {
    margin-bottom: 20px;
}
.my-55 {
    margin-top: 55px;
    margin-bottom: 55px;
}
.me-70 {
    margin-right: 0px;
}
.mt-50 {
    margin-top: 50px;
}
.pt-80 {
    padding-top: 80px;
}
.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.mt-120 {
    margin-top: 60px;
}
.py-80 {
    padding: 20px 0 25px;
}

@media screen and (min-width: 992px) {
    .ms-115 {
        margin-left: 115px;
    }
    .mt-120 {
        margin-top: 120px;
    }
    .py-80 {
        padding: 60px 0 65px;
    }
    .me-70 {
        margin-right: 70px;
    }
}

@media screen and (min-width: 1200px) {
    .my-4-5 {
        margin: 2.75rem 0;
    }
    .py-80 {
        padding: 80px 0 85px;
    }
}